/*========== Default ==========*/
.main-container {
    margin-top: 15px;
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Category */
.category-slider-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.category-list {
    display: flex;
    gap: 20px;
    overflow-x: auto; /* Allow scroll */
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin: 0 40px;
    width: 100%;
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari */
.category-list::-webkit-scrollbar {
    display: none;
}

.category-item {
    flex: 0 0 10%;
    scroll-snap-align: start;
    width: 25%;
    background: #f8f9fa;
    padding: 25px 15px;
    border-radius: 15px;
    text-align: center;
    transition: all 0.3s ease;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.category-item:hover {
    background: #ffffff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    transform: translateY(-8px);
}

/* Navigation Buttons */
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #333;
    color: white;
}

.prev {
    left: 20px;
}
.next {
    right: 20px;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Product Card */
.product-card {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    border-radius: 5px;
    height: 200px;
    object-fit: cover; /* Help image fit properly */
    margin-bottom: 10px;
}

.product-name {
    margin: 10px 0;
    font-size: 1.25em;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.5em;
    margin-bottom: 5px;
}

.product-category {
    color: #666;
    font-size: 0.9em;
}

.product-price {
    font-weight: bold;
    color: #e44d26;
    font-size: 1.2em;
    margin: 10px 0;
}

.product-stock {
    font-size: 0.8em;
    margin-bottom: 15px;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 0 20px;
}
.product-price-container form {
    margin: 0;
    display: flex;
}

/* Add to cart button */
.btn-add-cart {
    background: #333;
    color: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}
.btn-add-cart:hover {
    background: #464f48;
}
.btn-add-cart:disabled {
    background: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

/*========== Tablet ==========*/
@media (max-width: 991px) {
    .main-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .category-slider-container {
        padding: 20px 0;
    }
    .category-slider-container button {
        display: none;
    }
}

/*========== Mobile ==========*/
@media (max-width: 768px) {
    .category-slider-container {
        padding: 20px 0;
    }
    .category-slider-container button {
        display: none;
    }
    .category-slider-container .category-list {
        margin: 0 20px;
    }
    .category-slider-container .category-item {
        flex: 0 0 30%;
    }
}
