.login-container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.login-box {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 10px;
    color: #333;
}
.login-box p {
    color: #777;
    margin-bottom: 30px;
    font-size: 14px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box; /* Important to prevent overflow */
}

.form-group .toggle-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    z-index: 10;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-login.active {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.btn-login:hover {
    background: #218838;
}
.btn-login:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.login-footer p {
    margin-bottom: 0;
}
.login-footer a {
    color: #0070b6;
    text-decoration: none;
}
.login-footer a:hover {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .login-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
}
